<div class="logo text-white text-center logo-text-font logo-front">
  <img class="logo-img" src="assets/img/user-blue.png"><b>LUNIH</b>
  <div class="avatar-user">
    <img class="avatar-img" src="assets/img/user-img.png" onerror="this.src='assets/img/user.png'"><br>
    <span class="avatar-name">John Evans</span>
  </div>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline">
  <li nz-menu-item [routerLink]="['/management']">
    <i class="fas fa-database mr-right-10"></i>
    <span nzTooltipPlacement="right" nz-tooltip
    [nzTooltipTitle]="'Test Tool tip'">Test</span>
  </li>
</ul>