<div class="logo text-white text-center logo-text-font logo-front">
  <img class="logo-img" src="../../../../assets/img/impact_hub.jpg"><b>LUNIH</b>
  <div class="avatar-user">
    <img class="avatar-img" src="../../../../assets/img/user-img.png" onerror="this.src='../../../../assets/img/user-img.png'"><br>
    <span class="avatar-name">{{userName}}</span>
  </div>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline" class="sub-menu">
  <ng-container *ngFor="let menu of listMenu">
    <li nz-submenu *ngIf="menu.isHaveChild" [nzTitle]="menu.title" [nzIcon]="menu.icon">
      <ul>
        <li nz-menu-item *ngFor="let subMenu of menu.listChild" [routerLink]="subMenu.routerLink">
          <i [ngClass]="'mr-right-10 ' + subMenu.icon"></i>
          <span nzTooltipPlacement="right" nz-tooltip
          [nzTooltipTitle]="subMenu.title">{{subMenu.title}}</span>
        </li>
      </ul>
    </li>
    <li nz-menu-item class="menu-alone" *ngIf="!menu.isHaveChild" [routerLink]="menu.routerLink">
      <i [ngClass]="'mr-right-5 ' + menu.icon"></i>
      <span nzTooltipPlacement="right" nz-tooltip
      [nzTooltipTitle]="menu.title">{{menu.title}}</span>
    </li>
  </ng-container>
</ul>